<table class="table table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Departamento</th>
        <th>Cargo</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.usuario }}</td>
        <td>{{ user.primerNombre }} {{ user.segundoNombre }}</td>
        <td>{{ user.primerApellido }} {{ user.segundoApellido }}</td>
        <td>{{ user.department?.nombre}}</td>
        <td>{{ user.position?.nombre }}</td>
        <td>{{ user.email }}</td>
        <td>
          <label class="text-success p-3 " (click)="onEdit(user)"><strong>Editar</strong> </label>
          <label class="text-danger p-3 " (click)="onDelete(user.id)"><strong>Eliminar</strong> </label>
        </td>
      </tr>
    </tbody>
    <tfoot >
       <label class="pt-4">total de registros: {{users.length}}</label>
    </tfoot>
  </table>